doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/styles/bootstrap.css")
        link(rel="stylesheet", href="/styles/simple-chat.css")
        title SimpleChat
    body(data-ng-controller="Client")
        div#chat.panel.panel-primary
            div.panel-heading
                center
                    strong {{ client.getUsersConnected() }}
            div#chat-history.panel-body
                div.media-list(data-ng-repeat = "msg in client.getMessagesList() track by $index")
                    blockquote.media-body.chat-message {{ msg.msg }}
                        small {{ msg.id }}
                    br
            div.panel-footer
                form.input-group(data-ng-submit = "client.sendMessage()")
                    input.form-control(type = "text", data-ng-model = "client.message")
                    span.input-group-btn
                        button.btn.btn-default(type = "button" ng-click = "client.sendMessage()") Enviar
        script(src="scripts/lib/require.js" data-main="scripts/App")
