body {
    background-color: #E6E6E6;
}

#chat {
    width: 640px;
    margin: 0 auto;
}

#chat-history {
    height: 480px;
    overflow-y: scroll;
}

.chat-message {
    overflow-x: hidden;
    word-wrap: break-word;
}
